# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#Excluir archivos .exe en el repositorio
*.exe

#Excluir archivos sin extension en el repositorio
#*
#!/**/
#!*.*

#Excluir archivos .dat y .txt
*.dat
*.txt

